<?xml version="1.0"?>
<robot name="car">

 <link name="base_link">
  <inertial>
    <mass value="1"/>
    <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
    <origin/>
  </inertial>
    <visual>
      <geometry>
        <box size="1.0 0.7 0.4"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.3"/>
      <material name="white">
        <color rgba="0.2 0.6 0.85 1"/>
      </material>
    </visual>
  </link>

 <link name="lwheel">
    <visual>
      <geometry>
        <cylinder length="0.04" radius="0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_to_lwheel" type="fixed">
    <parent link="base_link"/>
    <child link="lwheel"/>
    <origin xyz="-0.3 -0.35 0.1" rpy="1.5708 0 0"/>
    <!-- <axis xyz="-0.1 -0.2 -0.025 " /> -->
    <axis xy="0 0 0" />
  </joint>

 <link name="rwheel">
    <visual>
      <geometry>
        <cylinder length="0.04" radius="0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

<!-- LEFT WHEEL -->
  <joint name="base_to_rwheel" type="fixed">
    <axis xyz="0 1 0"/>
    <parent link="base_link"/>
    <child link="rwheel"/>
     <!-- <limit effort="1000.0" lower="-0.3" upper="0.3" velocity="0.5"/> -->
    <origin xyz="0.3 0.35 0.1" rpy="-1.5708 0 0"/>
  </joint>

  <link name="fwheel_left">
    <visual>
      <geometry>
        <cylinder length="0.04" radius="0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

<!-- RIGHT WHEEL -->
  <joint name="base_to_fwheel_left" type="fixed">
    <axis xyz="0 -1 0"/>
    <parent link="base_link"/>
    <child link="fwheel_left"/>
     <!-- <limit effort="1000.0" lower="-0.3" upper="0.3" velocity="0.5"/> -->
    <origin xyz="0.3 -0.35 0.1" rpy="1.5708 0 0"/>
    <mimic joint="base_to_rwheel" multiplier="1" offset="0"/>
  </joint>

  <link name="fwheel_right">
    <visual>
      <geometry>
        <cylinder length="0.04" radius="0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_to_fwheel_right" type="fixed">
    <parent link="base_link"/>
    <child link="fwheel_right"/>
    <origin xyz="-0.3 0.35 0.1" rpy="-1.5708 0 0"/>
  </joint>

   <link name="roof">
    <visual>
      <geometry>
        <box size="0.4 0.5 0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white">
        <color rgba="0.2 0.6 0.85 1"/>
      </material>
    </visual>
  </link>

  <joint name="roof_to_car" type="fixed">
    <parent link="base_link"/>
    <child link="roof"/>
    <origin xyz="0.2 0 0.6" rpy="0 0 0"/>
  </joint>    
</robot>